body {
  background: lightcoral;
  }

p{
  color: #000;
}
.navbar {
  border-bottom: #008ed6 3px;
  opacity: 0.8; }
.jumbo {
    font-family: 'Playball', cursive;
    font-size: 125px;
    color: purple;
}
.jumbo-intro{
    font-family: 'Playball', cursive;
    font-size:30px;
    color: purple;
}

#home-section {
  background: url("../img/home-sec.jpeg");
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed; }
  #home-section .dark-overlay {
    background-color: rgba(0, 0, 0,0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 500px; }
  #home-section .home-inner {
    padding-top: 150px; }
  #home-section .card-form {
    opacity: 0.2; }
  #home-section .fa {
    color: #008ed6;
    background: #fff;
    padding: 4px;
    border-radius: 5px; }

#explore-section .fa, #share-section .fa {
  color: #FFF;
  background: #333;
  padding: 4px;
  border-radius: 5px; }

#create-section .fa {
  color: #008ed6;
  background: #fff;
  padding: 4px;
  border-radius: 5px; }

.fa{
    color: purple;
}

.card{
    background-color:  lightpink;
}